.modal {
  position: absolute;
  width: 320px;
  left: 50%;
  top: 50%;
  background-color: var(--secondary-text-color);
  transform: translate(-50%, -50%);
  padding: 40px;

  @media screen and(min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and(min-width: 768px) {
    width: 528px;
    height: 581px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
